.movie-list {
    visibility: hidden;
    width: 326px;
    margin: 0;
    margin-left: 1px;
    padding: 0;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 20px;
    background-color: white;
    text-align: center;
    z-index: 1;
}

.movie-list.show {
    animation: show 0.4s ease;
}

.movie-list.hide {
    animation: hide 0.4s ease;
}

@keyframes show {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes hide {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(20px);
        opacity: 0;
    }
}
