.navigation-user-auth {
    display: flex;
    align-items: baseline;
}

.navigation-user-auth-greeting {
    color: white;
    margin-right: 20px;
    font-size: 22px;
}

#navigation-user-auth-add-movie {
    background-color: green;
}

#navigation-user-auth-add-movie:hover {
    background: none;
}